// ----------------------------
// --- font face
// ----------------------------
@mixin font($name, $path, $weight: null, $style: null, $exts: eot woff2 woff ttf svg) {
  $src: null;
  $extmods: ( eot: "?",
  svg: "#" + str-replace($name, " ", "_"));
  $formats: ( otf: "opentype",
  ttf: "truetype");
  @each $ext in $exts {
    $extmod: if(map-has-key($extmods, $ext), $ext + map-get($extmods, $ext), $ext);
    $format: if(map-has-key($formats, $ext), map-get($formats, $ext), $ext);
    $src: append($src, url(quote($path + "." + $extmod)) format(quote($format)), comma);
  }
  @font-face {
    font-family: quote($name);
    font-style: $style;
    font-weight: $weight;
    src: $src;
  }
}

// ----------------------------
// --- font size
// ----------------------------
@mixin font-size($sizeValue: 1.6) {
  font-size: ($sizeValue * 10) + px;
  font-size: $sizeValue + rem;
}

// ----------------------------
// --- placeholder
// ----------------------------
@mixin input-placeholder {
  &.placeholder {
    @content;
  }
  &:-moz-placeholder {
    @content;
  }
  &::-moz-placeholder {
    @content;
  }
  &:-ms-input-placeholder {
    @content;
  }
  &::-webkit-input-placeholder {
    @content;
  }
}

// ----------------------------
// --- border
// ----------------------------
@mixin border-all($width,
$style,
$color) {
  border-width: $width;
  border-style: $style;
  border-color: $color;
}

// ----------------------------
// --- background image
// ----------------------------
@mixin background-image($url,
$color,
$height) {
  background-image: $url;
  background-repeat: no-repeat;
  color: $color;
  height: $height;
}

// ----------------------------
// --- grayscale
// ----------------------------
@mixin grayscale($percent) {
  filter: grayscale($percent);
  -webkit-filter: grayscale($percent);
  -moz-filter: grayscale($percent);
  -ms-filter: grayscale($percent);
  -o-filter: grayscale($percent);
}
// ----------------------------
// --- Margin
// ----------------------------
// -------- Top-bottom

@mixin margin-tb($top, $bottom) {
  margin-top: $top;
  margin-bottom: $bottom;
}