h1 {
  @include font-size($fz-xx-large);
  text-transform: uppercase;
  margin-bottom: $gutter-width;
}

h2 {
  @include font-size($fz-x-large);
  text-transform: uppercase;
  margin-bottom: $gutter-width;
  &:after {
    content: "--------------------------------------";
    display: block;
    @include font-size($fz-regular);
    letter-spacing: 1px;
    overflow: hidden;
  }
}

h3 {
  @include font-size($fz-large);
  text-transform: uppercase;
  margin-top: $half-gutter-width;
  margin-bottom: $half-gutter-width;
}

p {
  @include font-size($fz-regular);
  margin-bottom: $gutter-width;
}

strong {
  font-weight: $bold-weight;
}
